@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
body {
  padding: 15px !important;
  font-family: 'Prompt', sans-serif !important;
}
.row {
  margin: 0 !important;
  text-align: center;
}
.col-md-3 {
  padding: 15px;
}
.card {
  border-radius: 10px !important;
}
.card-body {
  padding: 10px !important;
}
.card-text-header {
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  margin: 0;
}
.card-text-body {
  font-size: 10px;
  text-align: left;
  margin: 5px 0 0;
}
.video-list-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
}
.card-video-header {
  max-width: 80rem;
  margin: 1em auto;
}
.back-page {
  text-align: center;
}
.btn-danger {
  width: 100px;
  font-size: 12px !important;
}